body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1a1a1a; /* Cor do header do site de referência */
    color: #ffffff;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

header .logo {
    max-width: 200px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1;
    padding: 150px 20px 100px 20px; /* Adiciona padding-bottom de 100px */
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 2em;
}

h1, h2 {
    color: #1a1a1a; /* Cor dos títulos do site de referência */
}

p {
    line-height: 1.6;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #1a1a1a; /* Cor dos títulos do site de referência */
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #1a1a1a; /* Cor dos botões do site de referência */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
}

a.button:hover {
    background-color: #838383; /* Cor do hover dos botões do site de referência */
}

footer {
    background-color: #1a1a1a; /* Cor do footer do site de referência */
    color: #ffffff;
    text-align: center;
    padding: 10px 20px; /* Mesmo padding dos botões */
    width: 100%;
    max-width: 800px; /* Mesma largura máxima do main */
    margin: 0 auto; /* Centraliza o footer */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.background-image {
    background-image: url('imagens/background.jpg'); /* Adicione a imagem de background */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.background-image h1 {
    font-size: 3em;
    margin: 0;
}
